/* h1{
    background-color: red;
} */
/* h1{
    background-color: aqua;
} */
/* #main{
    background-color: red;
} */

/* .submain{
    background-color: brown;
} */

/* h1{
    background-color: blue;
}
h1{
    background-color: aqua;
}
h1{
    background-color: brown;
} */
 /* .item-1{
    background-color: aqua;
 }
 .item-2{
    background-color: aqua;
 } */

 /* .item{
    background-color: red;
 }
 .item-1{
    color: white;
 } */
  h1{
    background-color: aqua;
  }
  /* .item-1{
    background-color: blue;
  } */